
* {
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

#myinput {
    width: 400px;
    margin-bottom: 50px;
    line-height: 30px;
}

.ttbox-pill.persontrig {
    background: #1269b0;
    border-color: #1266ab;
}

.ttbox-pill.produkttype {
    background: #c94646;
    border-color: #c84242;
}
