
.ttbox * {
    box-sizing: border-box;
    width: auto;
}

.ttbox {
    position: relative;
    box-sizing: border-box;
}
.ttbox dfn {
    font-style: normal;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.ttbox-overflow {
    /* border: 1px solid #bbb; */
    /* border-radius: 3px; */
    overflow-x: auto;
    overflow-y: hidden;
}
.ttbox-overflow::-webkit-scrollbar {
    display: none;
}
.ttbox-showing-suggest .ttbox-overflow {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ttbox-input {
    padding-left: 4px;
    white-space: nowrap;
    outline: none;
}
.ttbox-input * {
    outline: none;
}

.ttbox-input * {
    display: inline-block;
    white-space: nowrap;
}
.ttbox-input br {
    display: inline;
}

.ttbox-sug-overflow {
    position: absolute;
    left: 0;
    /* border: 1px solid #bbb; */
    /* border-radius: 3px; */
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.ttbox-suggest {
    min-height: 5px;
    background: white;
    line-height: 38px;
}
.ttbox-suggest > .ttbox-suggest-item:first-child {
    padding-top: 5px;
}
.ttbox-suggest > .ttbox-suggest-item:last-child {
    padding-bottom: 5px;
}
.ttbox-suggest-item {
    cursor: pointer;
    padding: 0 10px 0 25px;
    white-space: nowrap;
}
.ttbox-suggest-item dfn {
    min-width: 70px;
    position: relative;
}
.ttbox-suggest-item span {
    color: #ccc;
}
.ttbox-suggest-divider {
    position: relative;
    padding: 0 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.ttbox-suggest-divider span {
    position: relative;
    z-index: 1;
    background: white;
    color: #929292;
    padding-right: 20px;
    cursor: default;
}
.ttbox-suggest-divider hr {
    position: absolute;
    margin-top: 1.15em;
    left: 20px;
    right: 10px;
    border-top: 1px solid #ddd;
    border-bottom: none;
}
.ttbox-selected {
    background: #eee;
}

.ttbox-pill {
    position: relative;
    line-height: 24px;
    margin: 0 4px;
    background: #5cb85c;
    border: 1px solid #58b658;
    border-radius: 3px;
    padding: 0 12px;
    color: white;
    min-width: 30px;
}
.ttbox-pill dfn {
    padding: 0 3px 0 14px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
}
.ttbox-pill-prefix dfn {
    padding-right: 0;
    display: block;
}
.ttbox-pill-close {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    line-height: 22px;
    height: 24px;
    border-right: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.ttbox-pill span {
    min-width: 5px;
}
